/*Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital@1&family=Roboto&display=swap');

/*Social Media Icon Imports*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {overflow-x: hidden}

body {overflow-x: hidden}

/*General Styling*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: capitalize;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: capitalize;
}

.bold {
    font-weight: bold;
}

/* Text Alignment */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.justify {
    text-align: justify;
}

/*Navigation & Header Styling*/
#logo {
    font-size: 300%;
    letter-spacing: 2px;
    float: left;
    margin-left: 25px;
    margin-top: 18px;
    color: whitesmoke;
}
#nav {
    text-align: right;
    background-color: #404242
  }

#logo #nav {
    line-height: 75px;
}

#nav ul {
    display: inline-block;
    margin-right: 25px;
  }

#nav ul li {
    float: right;
    margin: 5px;
    display: flex;
    align-items: center;
    height: 80px;
    color: #C7C1B5;
  }

#nav ul li a {
    text-decoration: none;
    color: #C7C1B5;
    font-weight: 800;
    font-size: 14pt;
  }

#nav a:hover {
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke
}

#header-image-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text {
    font-size: 150%;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #C7C1B5;

    width: 225px;
    height: 100px;

    padding: 5px;

    bottom: 75px;
    left: 75px;

    position: absolute;
    opacity: 0.9
}

.underline {
    position : relative;
    display : inline-block;
  }

.underline::after {
    content : "";
    position : absolute;
    width : 100%;
    height : 3px;
    bottom: 0;
    left: 0;
    transform : scaleX(0);
    transform-origin: bottom right;
    transition : transform 0.25s linear;
  }

.underline:hover::after {
    transform-origin: bottom left;
      transform: scaleX(1);
  }

/*About Us Styling*/

#who-we-are {
    height: 500px;
}

.about-background {
    background-color: #737373;
    height: 450px;
    width: 100%;
}

#text-column-center {
    width: 100%;
    margin: 0 auto;
}

#welcome {
    font-size: 200%;
    text-align: center;
    padding-top: 25px;
}

.text-column-heading {
    width: 450px;
    height: 100px;
    margin: 0 auto;
    padding-top: 25px;
}

/*Yoga Types Styling*/
.yoga-background {
    padding: 1rem 0;
    background: url('../images/yoga2.jpg') center center / cover no-repeat fixed;
    opacity: 0.8;
}

#yoga-styles {
    height: 450px;
}

#styles-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#styles-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.styles-heading-left {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 100px;
    margin-left: 75px;
}

.styles-heading-right {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 100px;
    margin-right: 75px;
}

hr {
    width: 100%;
    margin: 2px 0;
}

/*Request Styling*/
.form-background {
    background-color: #737373;
    height: 650px;
    width: 100%;
    padding-top: 125px;
    opacity: 0.9;
}

#request {
    text-align: center;
    padding-top: 20px;
} 

#request p {
    width: 100%;
    text-align: justify;
}

.request-heading {
    width: 450px;
    height: 100px;
    margin: 0 auto;
}

form {
    height:500px;
    width: 450px;
    padding-top: 15px;
    border-radius: 8px;
    margin: 10px auto;
    border: 2px solid #000000;
    background-color: (211,211,211);
    text-align: left;
}

fieldset {
    border: none;
    margin-top: 6px;
    margin-left: 6px;
}

input[type=submit] {
    margin-left: 0.75rem;
    padding: 1rem;
    background-color: green;
    color: white;
    border: 1px solid #000000;
}

input[type=reset] {
    margin-left: 0.75rem;
    padding: 1rem;
    background-color: red;
    color: white;
    border: 1px solid #000000;
}

input[type=text],
input[type=email] {
    height: 30px;
    width: 90%;
    padding-left: 5px;
}

/*Footer Styling*/
.footer-background {
    background-color: #737373;
    height: 150px;
    width: 100%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
.fa:hover {
    opacity: 0.6;}
  
.fa-facebook {
    background: #3B5998;
    color: white;}

.fa-instagram {
    background: #125688;
    color: white;}

.fa-youtube {
    background: #bb0000;
    color: white;}

/* Images */

#yoga-3 {
    height: 450px;
    width: 100%;
    background: url('../images/yoga3.jpg') no-repeat center center;
}

/* Animation*/

/* Media Queries */

/*For medium to small screens size from 540px wide and down*/

@media screen and (max-width: 540px){
    
body {
        font-size: 13px;
    }

    #logo {
        margin-left: 10px;
    }

    #nav ul {
        margin-right: 10px;
    }

    .text-column-heading {
        width: 250px;
    }
    
    #styles-left {
    width: 30%;
    }
    
    #styles-right {
    width: 35%;
    }

    form {
        height: 450px;
        width: 310px;
    }
    
    input[type=submit] {
    padding: 0.75rem;
    }
    
    input[type=reset] {
    padding: 0.75rem;
    }
}
