/*Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital@1&family=Roboto&display=swap');

/*Social Media Icon Imports*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {overflow-x: hidden}

body {overflow-x: hidden}

/*General Styling*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: capitalize;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: capitalize;
}

.bold {
	font-weight: bold;
}

/* Text Alignment */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*Navigation & Header Styling*/
#logo {
    font-size: 300%;
    letter-spacing: 2px;
    float: left;
    margin-left: 25px;
    margin-top: 18px;
    color: whitesmoke;
}
#nav {
    text-align: right;
    background-color: #404242
  }

#logo #nav {
    line-height: 75px;
}

#nav ul {
    display: inline-block;
    margin-right: 25px;
  }

#nav ul li {
    float: right;
    margin: 5px;
    display: flex;
    align-items: center;
    height: 80px;
    color: #C7C1B5;
  }

#nav ul li a {
    text-decoration: none;
    color: #C7C1B5;
    font-weight: 800;
    font-size: 14pt;
  }

#nav a:hover {
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke
}

#header-image-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;

    width: 150px;
    height: 100px;

    padding: 5px;

    bottom: 75px;
    left: 75px;

    position: absolute;
    opacity: 0.9
}

.underline {
    position : relative;
    display : inline-block;
  }

.underline::after {
    content : "";
    position : absolute;
    width : 100%;
    height : 3px;
    bottom: 0;
    left: 0;
    transform : scaleX(0);
    transform-origin: bottom right;
    transition : transform 0.25s linear;
  }

.underline:hover::after {
    transform-origin: bottom left;
      transform: scaleX(1);
  }

/*About Us Styling*/

#who-we-are {
    height: 600px;
}

/*.about-background {
    background-color: #737373;
    height: 450px;
    width: 100%;
}*/

.why-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.how-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#who-we-are-center {
    width: 33%;
    margin: 0 auto;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

.why-left-heading {
    width: 33%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-top: 50px;
}

.how-right-heading {
    width: 33%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.how-right-heading h2 {
    text-align: right;
}

.how-right-heading p {
    text-align: right;
}

.who-we-are-heading {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;
}

/*Yoga Types Styling*/
.yoga-background {
	padding: 1rem 0;
	background: url('../images/yoga1.jpg') center center / cover no-repeat fixed;
    opacity: 0.8;
}

#yoga-types {
    height: 450px;
}

#styles-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#styles-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.styles-heading-left {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 100px;
    margin-left: 75px;
}

.styles-heading-right {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 100px;
    margin-right: 75px;
}

hr {
    width: 100%;
    margin: 2px 0;
}

/*.right-yoga-heading h2 {
    text-align: right;
}

.right-yoga-heading p {
    text-align: right;
}/*

/*Additional Information/Contact Us Styling*/
.form-background {
    background-color: #737373;
    height: 450px;
    width: 100%;
}

/*Footer Styling*/
.footer-background {
    background-color: #737373;
    height: 150px;
    width: 100%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
.fa:hover {
    opacity: 0.6;}
  
.fa-facebook {
    background: #3B5998;
    color: white;}

.fa-instagram {
    background: #125688;
    color: white;}

.fa-youtube {
    background: #bb0000;
    color: white;}

/* Images */

#yoga-3 {
    height: 450px;
    width: 100%;
    background: url('../images/yoga3.jpg') no-repeat center center;
}

/*#square-cover-bg {
    height: 100%;
    background: url('../images/yoga5.jpg');
    border-radius: 30%;
}

/* Animation*/

/* Media Queries */

/* For larger to medium screens size from 1200px wide and down 
@media screen and (max-width: 1200px) {
    #yoga-types {
        width: 65%;
        height: 900px;
        margin: 0 auto;
    }

    #yoga {
        padding: 30px 0;
        margin: 0;
    }

    #yoga-type-left, #yoga-type-right {
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
*/


